{% extends 'base.html'%}
{% block content %}

    <link rel="stylesheet" href="{{url_for('static',filename='music.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='home.js')}}">
    <link rel="stylesheet" href="../static/css/music.css">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Product Landing Free Bulma Template by Michael Andreuzza || Sinequanone Blog template</title>


    <!-- <link rel="stylesheet" href="../css/musicplayer-dashboard.css"> -->
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}"> -->
   


  


    <!--Fontawesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">





    <!--Bulma-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link href="https://unpkg.com/bulma-fluent@0.3.13/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


</head>




<body class=" has-navbar-fixed-top has-navbar-fixed-bottom has-background-black-ter">

    <div class="section transparent  transparent" style="margin-top: -90px;">


                                <a class="navbar-item is-size-6 has-text-info  is-hidden-desktop is-hidden-tablet">
                                    Home
                                </a>
                                <a class="navbar-item is-size-6 has-text-info  is-hidden-desktop">
                                    Radio
                                </a>


                                <div class="navbar-item  has-dropdown   is-hidden-desktop is-hidden-tablet">
                                    <a class="navbar-item is-size-6 has-text-info  ">
                                        Library
                                    </a>
                                    <div class="navbar-dropdown">
                                        <a class=" navbar-item  has-text-white">

                                            <i class="far fa-clock"></i>
                                            Recently played

                                        </a>
                                        <a class=" navbar-item  has-text-white">

                                            <i class="far fa-clock"></i>
                                            Liked Songs

                                        </a>
                                        <a class=" navbar-item  has-text-white">

                                            <i class="far fa-user"></i> Artists

                                        </a>
                                        <hr class="navbar-divider has-background-black">

                                        <a class=" navbar-item  has-text-white">
                                            <i class="fas fa-compact-disc has-text-white"></i>
                                            Albums
                                        </a>
                                    </div>
                                </div>
                                <div class="navbar-item  has-dropdown   is-hidden-desktop is-hidden-tablet">
                                    <a class="navbar-item is-size-6 has-text-info  ">
                                        Playlist
                                    </a>
                                    <div class="navbar-dropdown">
                                        <a class=" navbar-item  has-text-white">

                                            R&amp;B

                                        </a>
                                        <a class=" navbar-item  has-text-white">

                                            Oh Wonder

                                        </a>
                                        <a class=" navbar-item  has-text-white">

                                            Workout Music

                                        </a>
                                        <hr class="navbar-divider has-background-black">

                                        <a class="button  is-info  is-outlined">

                                            <span class="icon is-small">
                                                <i class="fas fa-plus-circle"></i>
                                            </span>
                                            <span>Add New Playlist</span>
                                        </a>

                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </nav>

            </div>

        </div>




        <div class="section is-paddingless has-background-black-ter">



            <div class="section is-paddingless is-marginless">
                <div class="columns">

                    <div class="column  is-full has-text-centered">

                        <div class="box transparent">

                            <div class="columns has-text-centered  is-multiline ">

                                <div class="column is-2 has-background-black-ter is-hidden-mobile ">
                                    <aside class="menu has-text-left is-spaced">


                                        <div class="box transparent is-spaced">

                                            <p class="menu-label has-text-white">
                                                <i class="fas fa-home"></i>
                                                Home
                                            </p>
                                            <p class="menu-label has-text-white">
                                                <i class="fas fa-broadcast-tower"></i>
                                                Radio
                                            </p>

                                            <hr class="has-background-black-ter">


                                            <p class="menu-label has-text-info has-text-weight-bold	">
                                                LIBRARY
                                            </p>

                                            <p class="menu-label has-text-white">
                                                <i class="far fa-clock"></i>
                                                Recently played
                                            </p>


                                            <p class="menu-label has-text-white">
                                                <i class="far fa-clock"></i>
                                                Liked Songs
                                            </p>
                                            <p class="menu-label has-text-white">
                                                <i class="far fa-user"></i> Artists
                                            </p>
                                            <p class="menu-label has-text-white">
                                                <i class="fas fa-compact-disc has-text-white"></i>
                                                Albums
                                            </p>

                                            <hr class="has-background-black-ter">

                                            <p class="menu-label has-text-info has-text-weight-bold">
                                                PLAYLISTS
                                            </p>
                                            <p class="menu-label has-text-white">
                                                R&amp;B </p>
                                            <p class="menu-label has-text-white">
                                                Oh Wonder
                                            </p>
                                            <p class="menu-label has-text-white">
                                                Workout Music
                                            </p>
                                            <p class="buttons">
                                                <a class="button is-info is-bold is-outlined material_shadow_five">

                                                    <span class="icon is-small">
                                                        <i class="fas fa-plus-circle"></i>
                                                    </span>
                                                    <span>Add New Playlist</span>
                                                </a>
                                            </p>

                                            <hr class="has-background-black-ter">

                                        </div>

                                    </aside>
                                </div>

                                <div class="column is-10 has-text-centered">


                                    <div class="section">

                                        <div class="notification transparent">
                                            <p class="title has-text-white has-text-left">
                                                Explore
                                            </p>
                                            <div class="columns has-text-centered is-desktop is-multiline">

                                                <div class="column ">

                                                    <div class="box has-background-black-ter ">
                                                        <div class="card-image  material_shadow_five">
                                                            <figure class="image is-square">
                                                                <image style="float: left;" src="{{url_for('static',filename='images/tuy.jpg')}}"></image>
                                                                <!-- <img src="http://thr.cm/v7GRw3" alt="Image"> -->
                                                            </figure>

                                                            <div class="card-content ">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">

                                                                        <div class="level-item has-text-centered">
                                                                            <div>

                                                                                {% for post in  posts%}
                                                                                {% if post.id == 5 %}
                                                                                <a href="{{url_for('bts',post_id = post.id)}}">  <p class="title"> {{post.title}}   </p>   </a>  
                                                                               {%endif%}
                                                                               {% endfor %}
                                                                              
                                                                                
                                                                                
                                                                                
                                                                                <hr>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="https://www.youtube.com/results?search_query=bts+music+group" class="button  is-white has-text-weight-bold">Listen now</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column">
                                                  

                                                    <div class="box has-background-black-ter ">
                                                        <div class="card-image material_shadow_five">
                                                            <figure class="image is-square">
                                                                <image style="float: left;" src="{{url_for('static',filename='images/zend.jpg')}}"></image>
                                                                <!-- <img src="https://assets.audiomack.com/younes95220/5bf2e5b3b9514d7eda82912352fd5ae293d6c495a7c050962d5f90db3c3a1c5c.jpeg?width=260&height=260&max=true" alt="Image"> -->
                                                            </figure>

                                                            <div class="card-content ">
                                                             
                                                                <div class="content">
                                                                    <nav class="level has-text-white">

                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                {% for post in  posts%}
                                                                                {% if post.id == 3 %}
                                                                                <a href="{{url_for('zendaya',post_id = post.id)}}">  <p class="title"> {{post.title}}   </p>   </a>  
                                                                               {%endif%}
                                                                               {% endfor %}
                                                                                <hr>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="https://www.youtube.com/results?search_query=zendaya" class="button  is-white has-text-weight-bold">Listen now</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="column">

                                                    <div class="box has-background-black-ter">
                                                        <div class="card-image  material_shadow_five">
                                                            <figure class="image is-square">
                                                                <img src="https://i.pinimg.com/originals/3a/f0/e5/3af0e55ea66ea69e35145fb108b4a636.jpg" alt="Image">
                                                            </figure>

                                                            <div class="card-content ">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">

                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                {% for post in  posts%}
                                                                                {% if post.id == 4 %}
                                                                                <a href="{{url_for('weekend',post_id = post.id)}}">  <p class="title"> {{post.title}}   </p>   </a>  
                                                                               {%endif%}
                                                                               {% endfor %}
                                                                              
                                                                              
                                                                                <hr>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="https://www.youtube.com/results?search_query=the+weekend" class="button  is-white has-text-weight-bold">Listen now</a>
                                                        
                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="columns has-text-centered is-desktop is-multiline">

                                                <div class="column ">

                                                    <div class="box has-background-black-ter ">
                                                        <div class="card-image  material_shadow_five">
                                                            <figure class="image is-square">
                                                                <image style="float: left;" src="{{url_for('static',filename='images/ruth.jpg')}}"></image>
                                                               
                                                            </figure>

                                                            <div class="card-content ">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">

                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                <p class="title">Ruth B</p>
                                                                                <hr>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="#" class="button  is-white has-text-weight-bold">Listen now</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column ">

                                                    <div class="box has-background-black-ter ">
                                                        <div class="card-image  material_shadow_five">
                                                            <figure class="image is-square">
                                                                <image style="float: left;" src="{{url_for('static',filename='images/kel.jpg')}}"></image>
                                                                <!-- <img src="https://www.billboard.com/files/styles/900_wide/public/med" alt="Image"> -->
                                                            </figure>

                                                            <div class="card-content ">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">

                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                <p class="title">Kehlani</p>
                                                                                <hr>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="#" class="button  is-white has-text-weight-bold">Listen now</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column">

                                                    <div class="box has-background-black-ter ">
                                                        <div class="card-image  material_shadow_five">
                                                            <figure class="image is-square">
                                                                <image style="float: left;" src="{{url_for('static',filename='images/king.jpg')}}"></image>
                                                                <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL7a2sZPgis5pvVFCi1GwMETyj4-9pqfV_HEyJG0fD6GTq5xLj" alt="Image"> -->
                                                            </figure>

                                                            <div class="card-content ">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">

                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                <p class="title">For K & C</p>
                                                                                <hr>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="#" class="button  is-white has-text-weight-bold">Listen now</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="section">

                                        <div class="notification transparent">
                                            <p class="title has-text-white has-text-left">
                                                Radio Stations
                                            </p>
                                            <div class="columns has-text-centered is-desktop is-multiline">

                                                <div class="column ">

                                                    <div class="box has-background-black-ter ">
                                                        <div class="card-image  material_shadow_five">
                                                            <figure class="image is-square">
                                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLdLtB7oj_f7XZY3zQpt4lcB5_cSu2viJFE4_y2sFZeDulpr7w" alt="Image">
                                                            </figure>

                                                            <div class="card-content ">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">

                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                <p class="title">Soul</p>
                                                                                <hr>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="#" class="button  is-white has-text-weight-bold">Listen now</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column ">

                                                    <div class="box has-background-black-ter ">
                                                        <div class="card-image  material_shadow_five">
                                                            <figure class="image is-square">
                                                                <img src="https://images.unsplash.com/photo-1559251606-c623743a6d76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=750&q=80" alt="Image">
                                                            </figure>

                                                            <div class="card-content ">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">

                                                                        <div class="level-item has-text-centered">

                                                                            <div class=" ">

                                                                                <p class="title ">R&amp;B</p>
                                                                                <hr>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="#" class="button  is-white has-text-weight-bold">Listen now</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column">

                                                    <div class="box has-background-black-ter ">
                                                        <div class="card-image  material_shadow_five">
                                                            <figure class="image is-square">
                                                                <img src="https://images.unsplash.com/photo-1559242550-bdfaa5081d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image">
                                                            </figure>

                                                            <div class="card-content ">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">

                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                <p class="title">Indie</p>
                                                                                <hr>
                                                                            </div>
                                                                        </div>
                                                                    </nav>
                                                                </div>

                                                                <a href="#" class="button  is-white has-text-weight-bold">Listen now</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="columns has-text-centered is-desktop is-multiline">

                                                <div class="column ">

                                                    <div class="box has-background-black-ter ">
                                                        <div class="card-image  material_shadow_five">
                                                            <figure class="image is-square">
                                                                <img src="https://images.unsplash.com/photo-1557800634-95f2a96fbd64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image">
                                                            </figure>

                                                            <div class="card-content ">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">

                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                <p class="title">90's Hip Hop</p>
                                                                                <hr>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="#" class="button  is-white has-text-weight-bold">Listen now</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column ">

                                                    <div class="box has-background-black-ter ">
                                                        <div class="card-image  material_shadow_five">
                                                            <figure class="image is-square">
                                                                <img src="https://images.unsplash.com/photo-1543029505-07794a585851?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image">
                                                            </figure>

                                                            <div class="card-content ">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">

                                                                        <div class="level-item has-text-centered">

                                                                            <div class=" ">

                                                                                <p class="title ">Boggie</p>
                                                                                <hr>
                                                                            </div>
                                                                        </div>


                                                                    </nav>



                                                                </div>

                                                                <a href="#" class="button  is-white has-text-weight-bold">Listen now</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column">

                                                    <div class="box has-background-black-ter ">
                                                        <div class="card-image  material_shadow_five">
                                                            <figure class="image is-square">
                                                                <img src="https://images.unsplash.com/photo-1550945771-515f118cef86?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image">
                                                            </figure>

                                                            <div class="card-content ">
                                                                <div class="content">
                                                                    <nav class="level has-text-white">

                                                                        <div class="level-item has-text-centered">
                                                                            <div>
                                                                                <p class="title">Instrumental</p>
                                                                                <hr>
                                                                            </div>
                                                                        </div>
                                                                    </nav>
                                                                </div>

                                                                <a href="#" class="button  is-white has-text-weight-bold">Listen now</a>

                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>




                        </div>
                        <div class="section transparent is-hidden-mobile is-hidden-tablet">
                            <div class="container transparent is-spaced">

                                <div class="hero-head has-text-centered transparent">
                                    <nav class="navbar is-fixed-bottom has-background-black-ter is-spaced">
                                        <div class="navbar-brand shadowless">
                                            <audio controls class=" has-background-black-ter is-hidden-mobile ">

                                                <source src="#" type="audio/ogg">
                                                <source src="#" type="audio/mpeg">
                                                Your browser does not support the audio element.
                                            </audio>

                                            <a class="navbar-item has-text-grey transparent" href="#">
                                                <strong class="has-text-white">Now Playing</strong>
                                                - Busta Rhymmes -
                                                <i class="has-text-white">Touch It</i>
                                            </a>
                                            <span class="navbar-burger burger is-centered" data-target="navMenu">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </span>
                                        </div>
                                        <div id="navMenu" class="navbar-menu transparent">






                                        </div>
                                    </nav>
                                </div>

                            </div>

                        </div>

                    </div>



                </div>


            </div>


        </div>
        

    </div>

{% endblock %}